<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="preconnect" href="htttps://fonts.googleapis.com">
      <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>NEWS</title>
</head>
<body>
    <nav>
        <a href="/" class="logo"><h2>Quick Headline News</h2></a>
        <ul class= "menu">
            <li class="nav-items"><a href='/'>Home</a></li>
            <li class="nav-items"><a href='/'>News</a></li>
            <li class="nav-items"><a href='/'>Blogs</a></li>
            <li class="nav-items"><a href='/'>Contact</a></li>
        </ul>
    </nav>
    <section id="main">
          <div class="banner"><img src="../static/media/1.jpg"></div>
          <div class="head">HEADLINES</div>
    </section>
    {% for title,desc,img,p_date,url in contents %}
    <div class="wrapper">
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
        <div class="content"><p style="color:teal;">Publish Date:- </p><p>{{p_date}}</p></div>
        </div>
        </div>
    {% endfor %}
</body>
</html>
